body,
html {
	padding: 0;
	margin: 0;
}

::placeholder {
	color: black;
}

input:focus::placeholder {
	color: transparent;
}

input:focus {
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
}
